
<a href="{{ object.get_absolute_url }}" class="popover-trigger grid-item-link" data-content="
    {% filter force_escape %}
        {% if object.description %}
            <div class="popover-normal-text">
                {{ object.description|safe }}
            </div>
        {% endif %}
        {% with object as instance %}
            <p class="byline">{% include "localtv/_when_published.html" %} {% include "localtv/inline_edit/video_authors.html" %}</p>
        {% endwith %}
    {% endfilter %}
">
 <!-- 	{% for video in video_list %}
	<form action="/playlists/add/{{ video.name }}" method="POST" id="playlists">{% csrf_token %}
		<select name="playlist" id="playlist_select">
		{% for playlist in playlists %}
			{% if playlist not in current_video.playlists.all %}<option value="{{ playlist.pk }}">{{ playlist.name }}</option>{% endif %}
		{% endfor %}
		</select>
		<input type="submit" value="Add to Playlist" id="playlist_submit"/>
	</form>
	{% endfor %} -->   
    
    {% include "localtv/_grid/_item_figure.html" with image=image only %}
	<div class="grid-item-content">
		<header class='grid-item-header'>
			<h1>{{ object.name }}</h1>
			{% include "localtv/_when_published.html" with instance=object %}
		</header>
	</div>
	</a>
