{% extends "localtv/__layouts/50_50.html" %}

{% load i18n uploadtemplate daguerre %}

{% block title %}{{ block.super }} - {% trans "Help" %}{% endblock %}

{% block body_id %}help_page{% endblock %}

{% block main %}
	<div class="pod">
		<header class="pod-header">
			<h1 class="pod-title">{% trans "Help" %}</h1>
		</header>
		<div class="pod-content">
			<div id = "help">	
				<h2>Documentation<h2>

				<h3>Admin roles & privileges:</h3>
				<ul>
				<li>Create categories
				<li>Add videos to categories
				<li>Create playlists
				<li>Configure general site settings
				<li>Moderate videos in moderation queue
				<li>Add new user &/or admin accounts
				</ul>

				<h3>Creating Categories:</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Videos’ in the left hand panel of the ‘Admin’ page</li>
				<li>Click on the ‘Categories’ option at the top of the ‘Videos’ page</li>
				<li>Click the ‘Add Category’ button</li>
				Input the information for your new category i.e. <i> Category Name, Category Slug, Thumbnail, Description, Parent</i></li>
				<li>Click ‘Add Category’ to save your new Category</li>
				</ol>

				<h3>Adding Videos to Categories:</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Videos’ in the left hand panel of the ‘Admin’ page</li>
				<li>Click on the ‘Bulk Edit’ option at the top of the ‘Videos’ page</li>
				<li>Locate the video you would like to categorize</li>
				<li>Click the ’Edit’ link under the video you want to categorize, and a small window should titled ‘Editing’ should pop up</li>
				<li>Scroll down to the bottom of the page and ‘check’ the categories you want the video to be in</li>
				<li>Click the ‘Save Changes’ button to save your changes</li>
				</ol>
			
				<h3>Creating Playlists:</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Goodies’ at the bottom of the left hand panel on the ‘Admin’ page</li>
				<li>Click on the ‘Playlists’ option at the top of the ‘Goodies’ page</li>
				<li>Click the ‘Add Playlist’ button and a page titled ‘Add a Playlist’ should pop up</li>
				<li>Input the information for your new playlist i.e. Name, Slug, Description</li>
				<li>Click the ‘Add Playlist’ button to save your new playlist</li>
				</ol>

				<h3>Configuring General Site Settings:</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Settings’ in the left hand panel of the ‘Admin’ page</li>
				<li>Modify the settings to suit your needs i.e. change Site Title, add Site Tagline, Logo Image, Background, Custom CSS, About Us Page, Sidebar Blurb, Footer Blurb.</li>
				<li>Configure Additional Site Settings at the bottom of the page if necessary</li>
				<li>Click ‘Save Changes’ to save your changes</li>
				</ol>

				<h3>Moderate Videos In Moderation Queue</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Videos’ in the left hand panel of the ‘Admin’ page</li>
				<li>Click the the ‘Approve All Videos on this page’ button, ‘Reject All Videos on This Page’ button or ‘Clear Entire Queue’ button to carry out a bulk video moderation</li>
				<li>Otherwise, mouse over each video in the queue and select ‘Feature’, ‘Approve’, ‘Reject’ for individual video moderation</li>
				</ol>


				<h3>Add New User/Admin Accounts:</h3>
				<ol>
				<li>Click on your username in the top right hand corner of the screen</li>
				<li>Select ‘Admin’ in the dropdown menu</li>
				<li>Click on ‘Users’ in the left hand panel of the ‘Admin’ page</li>
				<li>Click the ‘Add User’ button</li>
				<li>Input the new user’s information and specify if the account is an admin account or not</li>
				<li>Click the ‘Add User’ button to save the new user’s information</li>
				</ol>
			</div>
			{% if site_settings.logo %}
				<figure class="figure-left">
					<img class="logo" alt="{{ site_settings.site.name }} Logo" src="{% adjust site_settings.logo.name width=480 height=160 adjustment="fit" %}" />
				</figure>
			{% endif %}
			{% autoescape off %}
				{{ site_settings.help_html }}
			{% endautoescape %}
			
			
		</div>
		
		
	</div>{# /.pod #}
{% endblock %}

{% block side %}
	<div class="pod">
		
		<header class="pod-header">
			<h1 class="pod-title">{% trans "Powered by Swarthmore" %}</h1>
		</header>
		<div class="pod-content" >

			</p>
		</div>
	</div>
			{# /.pod #}
{% endblock %}

