/*Header - Swarthmore Banner*/
#header {
	max-width: 960px;
	height: 130px;
	margin: 0px auto;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/hdr_swarthmore4.jpg) no-repeat center;
	padding: 10px 0px;
}

/*Messing with the title*/
#SiteTitle, #SiteTagline {
	font-size: 54px;
	font-family: Georgia;
	color: #EEEEEE;
	height: auto;
	font-weight: normal;
	line-height: 1.4;
	width: auto;
	white-space: nowrap;
}

/*Repositioning where there isn't a tagline*/
#SiteTitle {
	position: relative;
	top: 35px;
}
.home-page #SiteTitle {
	top: 0px;
}

#SiteTagline {
	font-size: 20px;
}

.container, .video-full {
	padding: 0px;
	max-width: 960px;
	margin: 0px auto;
}

/*Fixing featured videos */
.home-page .precontent, .precontent-content {
	max-width: 960px;
	margin: 0px auto;
}
.home-page .video-large-preview a {
	line-height: normal;
}
.home-page .video-large-details h1 > a {
	font-size: 24px;
	color: #EEEEEE;
}

/*Getting rid of that awkward underlining in the title*/
a:hover {
	border-bottom: none;
}

/*Top margin for the navigation/search bars*/
.col-two-fifths, .col-one-fifth {
	margin: 12px 0px;
}


/*
 *Navigation bar tweaking
 */
.nav-item {
	position: relative;
	z-index: 1337;
	border: none;
}

.nav-item a, .nav-item a:hover {
	color: #EEEEEE;
	font-family: Georgia;
	margin-right: 0px;
	margin-left: 0px;
	text-transform: uppercase;
}

.browse-box-section h1 a, .nav-item-dropdown.open > a {
	background: #EEEEEE;
	border: none;
	border-radius: 0px;
}
.dropdown-box, .dropdown-list { min-width: 0px; }

.browse-box-section, .nav-auth > .dropdown-list > li {
	background: #EEEEEE;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	margin: 0px;
	padding: 9px 10px;
	position: absolute;
	/*-webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);*/
	width: 110px;
}

.nav-browse .browse-box-section:first-child {
	top: 30px;
	z-index: 1335;
}
.nav-browse .browse-box-section:nth-child(2) {
	top: 127px;
	z-index: 1334;
}
.nav-browse .browse-box-section:last-child {
	padding: 9px 10px 5px 10px;
	top: 0px;
	z-index: 1336;
}
.nav-browse .browse-box-section:last-child > h1 { margin-bottom: 0px; }
.nav-auth > .dropdown-list > li > a { padding: 0px; }
.nav-auth > .dropdown-list > li:first-child {
	padding: 9px 10px 5px 10px;
	top: 0px;
	width: 80px;
	z-index: 1338;
}
.nav-auth > .dropdown-list > li:last-child {
	padding: 9px 10px 5px 10px;
	top: 30px;
	width: 80px;
	z-index: 1337;
}

.nav-item-dropdown.open > a { -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15); }

.open > .dropdown-box, .open > .dropdown-list {
	top: 18px;
	background: none;
	border: 0px;
	border-radius: 0px;
	margin-left: 0px;
	min-width: 0px;
	padding: 0px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
}

.browse-box-section h1 a, .browse-box-section ul li a {
	color: #444444;
}

/* Manage playlists */
#manage-playlists {
	background: black;
	padding: 5px;
	border-radius: 5px;
}

/*Main background*/
html, body {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	min-height: 100%;
}

.grid-item { padding: 18px 20px; }

/*Footer*/
#footer {
	max-width: 960px;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/footer_bg1.jpg) repeat;
	margin: 10px auto 0px auto;
	color: #EEEEEE;
}

/*Hide footer's navigational items*/
.miro-footer .footer-nav-item, .footer-nav li {
	display: none;
}

/*Centering the "powered by" message in the footer*/
.miro-footer { margin-right: auto; margin-left: auto; float: none; }
.container > .miro-footer > p { text-align: center; }

/*Inside texture*/
.grid {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
}

/*Black category bars*/
.pod-header, .page-header {
	margin: 0px;
	padding: 0px;
	background: url(http://23.23.177.220:9001/static/localtv/front/images/classy_fabric.png?1345840025) repeat, #2b2d2d;
	height: 45px;
	border: none;
	
}

/*Category headers*/
.pod-header h1, .page-header h1, .pod-header h1 a {
	color: #EEEEEE;
	font-family: Georgia;
	font-weight: normal;
}
.pod-header h1, .page-header h1 {
	margin: 0px 0px 0px 20px;
	line-height: 45px;
	padding: 0px;
}

/*Fixing the hideous search bar D: */
#search {
	margin: 18px 20px 0px 0px;
	background: url(http://23.23.177.220:9001/static/localtv/front/images/classy_fabric.png?1345840025) repeat;
}
#search #search_field {
	width: 168px;
	height: 28px;
	background: url(http://www.bloggermint.com/demos/css3searchbox/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 14px Georgia, Arial, Helvetica, Sans-serif;
    color: #444444;
    width: 150px;
    padding: 6px 15px 6px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.search-icon {
	display: none;
	margin: 0px;
}
#search .btn-right {
	display: none;
	width: 0px;
	/*width: 28px;*/
	padding: 5px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

/*Random fixes*/
.pod-header h1 {
	margin-bottom: 0px;
}
.video-detail-header {
	padding-left: 20px;
}
.precontent-header .title {
	color: #EEEEEE;
}

/*Video submission form fixes*/
.x-large > label { line-height: 24px; position: absolute; width: auto; }
.x-large > .controls > input { font-size: 18px; line-height: 24px; height: 24px; margin-left: 100px;}
form .controls { display: inline-block; margin-left: 0px; }
form[action="/submit_video/"] .controls { margin-left: 100px; }
form > .form-actions { padding: 0px; width: 55px; margin: 0px auto; }
form[action="/submit_video/scraped/"] > ul > li { height: 29px; list-style-type: none; }
form[action="/submit_video/scraped/"] > ul > li > label { line-height: 29px; }
form[action="/submit_video/scraped/"] > ul > li > label > input {
	vertical-align: bottom; width: 29px;
    cursor:pointer;
}

.control-group-tags { margin-top: 20px; }
.control-group > label { line-height: 29px; margin-right: 20px; vertical-align: top; }
.control-group > .controls { display: inline-block; margin-left: 0px; width: 80%; }
.controls > input { width: 100%; }

/*Login page fixes*/

.login-page form .controls { display: block; width: 100%; }
.login-page .tabs {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	border: none;
}
.login-page .tabs > li > a {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	border: none;
	color: #444444;
	text-shadow: 0 1px 0 #FFF;
	font-weight: bold;
	margin: 0px 5px -1px 0px;
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
}
.login-page .tabs > li.active > a, .login-page .tabs > li:hover > a { background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat; }
.login-page #main > .container { background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat; box-shadow: none; }
.login-page #main .tab-content { background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat; box-shadow: none; }
@media screen and (max-width: 740px) { .login-page .tabs { margin-top: 0px; } }

/*Hide the social media thing...*/
.social-media-share {
	display: none;
}

/*Add to Playlist stuff! :D*/
.playlists {
	display: inline-block;
	width: auto;
	margin: 0px auto;
}
.playlist_form {
	margin: 15px 0px 0px 20px;
}
.playlist_select {
	width: auto;
}
.playlist_submit {
	font-size: 12px;
	width: auto;
	height: 24px;
	padding: 0px 9px;
	background: url(http://23.23.177.220:9001/static/localtv/front/images/classy_fabric.png) repeat, #2b2d2d;
	color: #EEEEEE;
	display: inline-block;
	border-radius: 5px;
	border-color: #a2a2a2;
	cursor: pointer;
}
.playlist_submit:hover {
	font-size: 12px;
	width: auto;
	height: 24px;
	padding: 0px 9px;
	background: url(http://23.23.177.220:9001/static/localtv/front/images/classy_fabric.png) repeat, #2b2d2d;
	color: lightblue;
	display: inline-block;
	border-radius: 5px;
	border-color: #a2a2a2;
	cursor: pointer;
}
.playlist-videos .playlist-description {
	display: none;
}
.grid-item .playlist_form {
	margin: 0px;
	text-align: center;
}
.grid-item .playlists, .grid-item .playlist_submit {
	margin: 0px auto;
	display: block;
}
.grid-item .playlist_select {
	display: inline-block;
	margin: 0px auto 5px;
}

/*Beautiful buttons! :) */
button, button:hover, .button-wide, .button-wide:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
	background: url(http://23.23.177.220:9001/static/localtv/front/images/classy_fabric.png?1345840025) repeat, #2b2d2d;
	color: #EEEEEE;
	cursor: pointer;
}
button:hover, .button-wide:hover {
	color: #5C86A0;
}

/*Fixes for the "no search results" page*/
.search-results > #container > #main > h2 {
	font-size: 20px;
	max-width: 960px;
	margin: 0px auto;
	text-align: center;
}

/*Fixes for video submission*/
.row-nested > .col-one-quarter {
	width: 25%;
	float: left;
	margin-right: 20px;
	
}
.row-nested > .col-three-quarters {
	width: 71%;
	float: right;
}
.col-one-quarter > .thumbnail > img {
	width: 100%;
}

/*Resizing the grid items for consistency with the playlist button*/
.grid-3 .grid-item .grid-item-header > h1 { max-height: 81px; overflow: hidden; }
.grid-3 .grid-item .grid-item-link { height: 255px; }
@media screen and (max-width: 960px) {
.grid-1 .grid-item .grid-item-link, .grid-3 .grid-item .grid-item-link, .grid-4 .grid-item .grid-item-link { height: 27.27%; }
}
@media screen and (max-width: 740px) {
.grid-1 .grid-item .grid-item-header > h1, .grid-3 .grid-item .grid-item-header > h1, .grid-4 .grid-item .grid-item-header > h1 { max-height: 54px; overflow: hidden; }
}

/*
 *
 *
 * Making sure that everything is resizing nicely in browser
 * There may be later conflicts! Always check here!
 *
 *
 */
@media screen and (min-width: 741px) {
.container { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.col-one-half, .miro-footer, .footer-nav { width: 50%; }
.col-one-third, .precontent-details, .video-large-details { width: 33.33%; }
.col-two-thirds { width: 66.67%; }
.col-one-fifth { width: 192px; float: right;}
.col-two-fifths { width: 55%; float: right;}
.row .with-tagline { width: 45%; float: left; }
.row .no-tagline { width: 45%; float: left;}
.col-three-fifths { width: 60%; }
.col-four-fifths { width: 80%; }
}

/*
 *
 *Media Query Time! :D 
 *
 */
 
/*Resizing font to make it more readable*/
@media screen and (max-width: 400px) { .nav-item a { font-size: 12px; } . }

/*"More Videos" move early*/
@media screen and (max-width: 940px) and (min-width: 741px) { .video-detail .col-one-quarter { display: block; width: 100%; } .video-detail .col-three-quarters { width: 100%; } .video-detail .grid-1 .grid-item { width: 50%; display: inline-block; } .video-detail .grid-1 > li:nth-child(even) { float: right; } .video-detail .grid-1 > li:nth-child(odd) { float: left; } }

/*Removing a completely random and annoying padding thing*/
@media screen and (max-width: 960px) { #container > #header > .container { padding: 0px; } }

/*TABLET MODE ENGAGED*/
@media screen and (max-width: 740px) {

#header {
	margin: 45px 0px 0px 0px;
	padding: 0px;
}

#footer {
	margin: 0px;
}

#SiteTitle {
	margin-top: 20px;
	line-height: normal;
	overflow: hidden;
	top: 30px;
}

.home-page .video-large-details h1 > a {
	font-size: 18px;
	line-height: 64px;
}
.home-page .video-large-details h1 {
	margin: 0px;
	height: 64px;
}

#container > #header > .container {
	margin-top: -3px;
}

#main {
	display: block;
	width: 100%;
}

.col-one-fifth {
	height: 0px;
	width: 0px;
	margin: 0px;
}

.col-two-fifths {
	position: relative;
	top: -23px;
	margin: 5px 5px 5px 0px;
	display: block;
}

#search {
	background-color: black;
	border-bottom: 0px;
	margin: 0px;
}
#search #search_field {
	width: 100%;
}
#search .btn-right {
	width: 0%;
	padding: 0% 2%;
}


#navigation {
	margin: 0px 0px 0px 10px;
	position: absolute;
	top: 28px;
}
.home-page #navigation {
	top: 0px;
}
.nav-item {
	margin: 0px;
	display: inline-block;
	padding: 0px;
}

/*Makes sure that the navigation doesn't freak out when a dropdown menu is opened*/
.browse-box, .dropdown-list {
	position: absolute;
}

.browse-box-section ul, .browse-box-section li, .browse-box-section li a {
	display: block;
}

.pod-header {
	border: 0px;
	display: block;
}

.pod-content { padding: 0px; }

.precontent-header .title {
	font-size: 14px;
	margin-right: 5px;
}

.precontent-header h2 {
	font-size: 11px;
}

/*Fix for a pointless recoloring*/
.nav-item:first-child {border: none;}

/*Fix for video submission*/
.row-nested > .col-one-quarter {
	width: 100%;
	margin: 0px auto;
	
}
.row-nested > .col-three-quarters {
	width: 100%;
}
.col-one-quarter > .thumbnail > img {
	display: block;
	width: 100%;
	margin: 0px auto 15px auto;
}
.col-one-quarter > .thumbnail > img:hover {
	text-decoration: none;
}

.col-one-half > .pod > .pod-content {
	margin: 20px 18px;
} 

}