/*Header - Swarthmore Banner*/
#header {
	max-width: 960px;
	height: 130px;
	margin: 0px auto;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/hdr_swarthmore4.jpg) no-repeat center;
	padding: 10px 0px;
}

/*Messing with the title*/
#SiteTitle, #SiteTagline {
	font-size: 54px;
	font-family: Georgia;
	color: white;
	height: auto;
	font-weight: normal;
	line-height: 1.4;
	overflow: hidden;
}

/*Repositioning where there isn't a tagline*/
#SiteTitle {
	position: relative;
	top: 35px;
}
.home-page #SiteTitle {
	top: 0px;
}

#SiteTagline {
	font-size: 20px;
}

.container, .video-full {
	padding: 0px;
	max-width: 960px;
	margin: 0px auto;
}

/*Fixing featured videos */
.home-page .precontent, .precontent-content {
	max-width: 960px;
	margin: 0px auto;
}
.home-page .video-large-preview a {
	line-height: normal;
}
.home-page .video-large-details h1 > a {
	font-size: 24px;
}

/*Getting rid of that awkward underlining in the title*/
h1 a:hover {
	border-bottom: none;
}

/*Top margin for the navigation/search bars*/
.col-two-fifths, .col-one-fifth {
	margin: 12px 0px;
}


/*
 *Navigation bar color tweaking
 */
#navigation {
	margin-top: 5px;
}
.nav-item {
	position: relative;
	z-index: 1337;
	border: 1px solid transparent;
}
.nav-item a {
	color: white;
	font-family: Georgia;
	text-transform: uppercase;
}
.nav-about a:hover, .nav-submit a:hover {
	color: #EEEEEE;
}
.browse-box-section h1 a, .browse-box-section ul li a {
	color: #444444;
}
.dropdown-box, .dropdown-list {
	min-width: 0px;
	overflow: hidden;
}

/*Prevents categories from being on the same line*/
.nav-item-dropdown li {
	clear: left;
}


/*Main background*/
html, body {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	min-height: 100%;
}

.grid-item { padding: 18px 20px; }

/*Footer*/
#footer {
	max-width: 960px;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/footer_bg1.jpg) repeat;
	margin: 10px auto 0px auto;
	color: #EEEEEE;
}

/*Hide footer's navigational items*/
.footer-nav-item {
	display: none;
}

/*Centering the "powered by" message in the footer*/
.miro-footer { margin-right: auto; margin-left: auto; float: none; }
.container > .miro-footer > p { text-align: center; }

/*Inside texture*/
.grid {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
}

/*Black category bars*/
.pod-header, .page-header {
	margin: 0px;
	padding: 0px;
	background: url(http://23.23.177.220:9997/static/localtv/front/images/classy_fabric.png?1345840025) repeat;
	height: 45px;
	border: none;
}

/*Category headers*/
.pod-header h1, .page-header h1, .pod-header h1 a {
	color: #EEEEEE;
	font-family: Georgia;
	font-weight: normal;
}
.pod-header h1, .page-header h1 {
	margin: 0px 0px 0px 20px;
	line-height: 45px;
	padding: 0px;
}

/*Fixing the hideous search bar D: */
#search {
	margin: 12px 20px 0px 0px;
	background: url(http://23.23.177.220:9997/static/localtv/front/images/classy_fabric.png?1345840025) repeat;
}
#search #search_field {
	width: 168px;
	height: 28px;
	background: url(http://www.bloggermint.com/demos/css3searchbox/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 14px Georgia, Arial, Helvetica, Sans-serif;
    color: #444444;
    width: 150px;
    padding: 6px 15px 6px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.search-icon {
	display: none;
	margin: 0px;
}
#search .btn-right {
	display: none;
	width: 0px;
	/*width: 28px;*/
	padding: 5px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

/*Random fixes*/
.pod-header h1 {
	margin-bottom: 0px;
}
.video-detail-header {
	padding-left: 20px;
}

/*Hide the social media thing...*/
.social-media-share {
	display: none;
}

/*Add to Playlist stuff! :D*/
.video-detail #playlists {
	width: auto;
	text-align: center;
	padding: 18px 20px 0px 20px;
	margin: 0px auto;
}
.video-detail #playlist_select {
	min-width: 80px;
	width: auto;
	margin-right: 20px;
	display: inline-block;
}
.video-detail #playlist_submit {
	width: 120px;
	height: 29px;
	padding: 4.5px 9px;
	background: url(http://23.23.177.220:9997/static/localtv/front/images/classy_fabric.png?1345840025) repeat;
	color: #EEEEEE;
	display: inline-block;
	border-radius: 5px;
	border-color: #a2a2a2;
}
.video-detail #playlist_submit:hover {
	color: #5C86A0;
}
.playlist-videos .playlist-description {
	display: none;
}

/*Beautiful buttons! :) */
.button-wide, .button-wide:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
	background: url(http://23.23.177.220:9997/static/localtv/front/images/classy_fabric.png?1345840025) repeat;
	color: #EEEEEE;
}
.button-wide:hover {
	color: #5C86A0;
}

/*Fixes for the "no search results" page*/
.search-results > #container > #main > h2 {
	font-size: 20px;
	max-width: 960px;
	margin: 0px auto;
	text-align: center;
}

/*Fixes for video submission*/
.row-nested > .col-one-quarter {
	width: 25%;
	float: left;
	margin-right: 20px;
	
}
.row-nested > .col-three-quarters {
	width: 71%;
	float: right;
}
.col-one-quarter > .thumbnail > img {
	width: 100%;
}


/*
 *
 *
 * Making sure that everything is resizing nicely in browser
 * There may be later conflicts! Always check here!
 *
 *
 */
@media screen and (min-width: 741px) {
.container { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.col-one-half, .miro-footer, .footer-nav { width: 50%; }
.col-one-third, .precontent-details, .video-large-details { width: 33.33%; }
.col-two-thirds { width: 66.67%; }
.col-one-fifth { width: 192px; float: right;}
.col-two-fifths { width: 55%; float: right;}
.row .with-tagline { width: 45%; float: left; }
.row .no-tagline { width: 45%; float: left;}
.col-three-fifths { width: 60%; }
.col-four-fifths { width: 80%; }
}




/*
 *
 *Media Query Time! :D 
 *
 */
 
/*Resizing font to make it more readable*/
@media screen and (min-width: 741px) and (max-width: 1020px) { .grid-1 .grid-item .grid-item-header > h1, .grid-4 .grid-item .grid-item-header > h1 { font-size: 12px; line-height: 20px; } }
@media screen and (min-width: 401px) and (max-width: 520px) { h3, .grid-item .grid-item-header > h1 { font-size: 12px; line-height: 20px; } }
@media screen and (max-width: 400px) { .nav-item a { font-size: 12px; } . }

/*Shrink grid a bit before tablet mode*/
@media screen and (max-width: 1020px) and (min-width: 741px) {
	.home-page .grid-3 > li { width: 50%; float: left; }
	.home-page .grid > li:nth-child(even) { clear: right; padding-left: 20px;}
	.home-page .grid > li:nth-child(odd) { clear: left; padding-left: 20px; } }

/*"More Videos" move early*/
@media screen and (max-width: 940px) and (min-width: 741px) { .video-detail .col-one-quarter { display: block; width: 100%; } .video-detail .col-three-quarters { width: 100%; } .video-detail .grid-1 .grid-item { width: 50%; display: inline-block; } .video-detail .grid-1 > li:nth-child(even) { float: right; } .video-detail .grid-1 > li:nth-child(odd) { float: left; } }

/*Removing a completely random and annoying padding thing*/
@media screen and (max-width: 960px) { #container > #header > .container { padding: 0px; } }

/*TABLET MODE ENGAGED*/
@media screen and (max-width: 740px) {

#header {
	margin: 45px 0px 0px 0px;
	padding: 0px;
}

#footer {
	margin: 0px;
}

#SiteTitle {
	margin-top: 20px;
	line-height: normal;
	top: 30px;
}

.home-page .video-large-details h1 > a {
	font-size: 18px;
	line-height: 64px;
}
.home-page .video-large-details h1 {
	margin: 0px;
	height: 64px;
}

#container > #header > .container {
	margin-top: -3px;
}

#main {
	display: block;
	width: 100%;
}

.col-one-fifth {
	height: 0px;
	width: 0px;
	margin: 0px;
}

.col-two-fifths {
	position: relative;
	top: -23px;
	margin: 5px 5px 5px 0px;
	display: block;
}

#search {
	background-color: black;
	border-bottom: 0px;
	margin: 0px;
}
#search #search_field {
	width: 100%;
}
#search .btn-right {
	width: 0%;
	padding: 0% 2%;
}


#navigation {
	margin: 0px 0px 0px 10px;
	position: absolute;
	top: 28px;
}
.home-page #navigation {
	top: 0px;
}
.nav-item {
	margin: 0px;
	display: inline-block;
	padding: 0px;
}

/*Makes sure that the navigation doesn't freak out when a dropdown menu is opened*/
.browse-box, .dropdown-list {
	position: absolute;
}

.browse-box-section ul, .browse-box-section li, .browse-box-section li a {
	display: block;
}

.pod-header {
	border: 0px;
	display: block;
}

.pod-content { padding: 0px; }

.precontent-header .title {
	font-size: 14px;
	margin-right: 5px;
}

.precontent-header h2 {
	font-size: 11px;
}

/*Fix for a pointless recoloring*/
.nav-item:first-child {border: none;}

/*Fix for video submission*/
.row-nested > .col-one-quarter {
	width: 100%;
	margin: 0px auto;
	
}
.row-nested > .col-three-quarters {
	width: 100%;
}
.col-one-quarter > .thumbnail > img {
	display: block;
	width: 100%;
	margin: 0px auto 15px auto;
}
.col-one-quarter > .thumbnail > img:hover {
	text-decoration: none;
}

.col-one-half > .pod > .pod-content {
	margin: 20px 18px;
} 

}