/* My apologies forever. I've used quite a few !important tags, so search for those in case something isn't working like it should. 
   For the record, Miro started it.
*/


#header {
	max-width: 960px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/hdr_swarthmore4.jpg) no-repeat center;
	border: none;
	padding: 10px 0px;
}

#logo {
	position: relative;
	top: 3px;
	width: 100%;
}

#header #logo a span {
	font-size: 54px;
	font-family: Georgia;
	color: #EEEEEE;
	font-weight: normal;
	line-height: 1.4;
	margin-left: 20px;
	padding: 0px;
	position: absolute;
}

#header #logo a:hover {
	opacity: 1;
}

#header #logo img {
	display: none;
}

#header #user_panel {
	margin: 20px 20px 0px 0px;
}

#header #user_panel span, #header #user_panel a {
	font-size: 13px;
	font-family: Georgia;
	font-weight: normal;
	color: #EEEEEE;
	border: 1px solid transparent;
	padding: 0px 10px;
	margin: 5.5px 0px;
	-webkit-box-shadow: none;
	text-transform: uppercase;
	text-shadow: none;
	background: none;
}
#header #user_panel a:active { top: 0px; }

body, #wrapper {
	width: auto;
	max-width: 960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

html, body {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	min-height: 100%;
	line-height: normal;
}

#labels {
	min-width: 0px;
}

.helpful { margin: 10px 0px; }

/*Fixing these ridiculous tables*/
#labels, #labels > form {
	clear: left;
	max-width: 100%;
	background: transparent;
	border: none;
}
#labels > form > table {
	border: none;
	background: transparent;
}
#labels > form > table thead * {
	background-color: #631919;
}
tr.grey {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
}
#labels > form > table, #labels > form > table thead, #labels > form > table tbody {
	width: 100%;
	max-width: 700px;
	margin: 5px;
}
.only_show { width: auto; float: left; }
#labels > form > table tr > th { vertical-align: middle; }
.playlists #labels > form > table tr > th:nth-child(6), .managesources #labels > form > table tr > th:nth-child(4), .managesources #labels > form > table tr > th:nth-child(7), .bulkedit #labels > form > table tr > th:nth-child(5), .bulkedit #labels > form > table tr > th:nth-child(6) { background-position: 0px 5px; line-height: normal; padding: 2px 0px 2px 8px; }
#labels > form > table tr > td:nth-child(1), #labels > form > table tr > th:nth-child(1) { width: 24px; text-align: center; }
#labels > form > table tr > td:nth-child(2), #labels > form > table tr > th:nth-child(2) { width: auto; padding-left: 8px; overflow: hidden; }
#labels > form > table tr > td:nth-child(3), #labels > form > table tr > th:nth-child(3) { padding-left: 8px; }
#labels > form > table tr > td:nth-child(4), #labels > form > table tr > th:nth-child(4) { width: auto; padding-left: 8px; overflow: hidden; }
#labels > form > table tr > td:nth-child(5), #labels > form > table tr > th:nth-child(5) { width: auto; padding-left: 8px; padding-right: 8px; text-align: center; }
#labels > form > table tr > td:nth-child(6), #labels > form > table tr > th:nth-child(6) { width: auto; text-align: center; }
#labels th a.sortdown { background-position: 0-34px; }
.category_admin #labels > form > table tr > td:nth-child(2), .category_admin #labels > form > table tr > th:nth-child(2) { width: 90px; }
.category_admin #labels > form > table tr > td:nth-child(4), .category_admin #labels > form > table tr > th:nth-child(4) { width: 80px; }
.category_admin #labels > form > table tr > td:nth-child(5), .category_admin #labels > form > table tr > th:nth-child(5) { width: 30px; }
.category_admin #labels > form > table tr > td:nth-child(6), .category_admin #labels > form > table tr > th:nth-child(6) { width: 90px; }
.bulkedit #labels > form > table tr > td:nth-child(5), .bulkedit #labels > form > table tr > th:nth-child(5) { width: 90px; }
.bulkedit #labels > form > table tr > td:nth-child(6), .bulkedit #labels > form > table tr > th:nth-child(6) { padding-right: 8px; }
.managesources #labels > form > table tr > td:nth-child(7), .managesources #labels > form > table tr > th:nth-child(7) { text-align: center; }
.playlists #labels > form > table tr > th:nth-child(6) { padding: 2px 0px; }
.playlists #labels > form > table tr > td:nth-child(2), .playlists #labels > form > table tr > th:nth-child(2) { padding-right: 8px; width: 105px; }
.playlists #labels > form > table tr > td:nth-child(5), .playlists #labels > form > table tr > th:nth-child(5) { text-align: left; }
.playlists #labels > form > table tr > td:nth-child(6), .playlists #labels > form > table tr > th:nth-child(6) { padding-right: 8px; }
.flatpages #labels > form > table tr > td:nth-child(2), .flatpages #labels > form > table tr > th:nth-child(2) { overflow: visible; word-wrap: break-word; }
.flatpages #labels > form > table tr > td:nth-child(3), .flatpages #labels > form > table tr > th:nth-child(3) { padding-right: 8px;  overflow: visible; word-wrap: break-word; }


/*Fixing some forms that aren't resizing*/
.edit_feed .input_field > ul > li > label:first-child { width: 70px; }
.edit_feed .input_field ul li.scrollable > label:first-child, .edit_feed .input_field > ul > li:last-child > label:first-child { width: auto; line-height: 1.5em; font-weight: bold; }
.edit_feed .input_field ul li input[type=text] { width: 82%; }
.edit_feed .input_field ul li.scrollable { width: 50%; }
.edit_feed .input_field > ul > li:last-child > label:first-child { line-height: 31px; margin: 3px 20px 20px 0px; }
.user_profile form[action="/accounts/profile/"] { width: 100%; }
.user_profile .input_field ul li input[type=text], .user_profile .input_field ul li textarea { display: inline-block; margin: 0px 20px 0px 0px; width: 96%; }
.user_profile span.form_help { padding-left: 0px; }


/*Fixing up them buttons*/
.edit_feed .reject_button, .edit_feed .approve_button { margin: 0px; }
.playlists #labels > form > button { top: -50px; }

#content h2, .add { min-width: 0px; margin-top: 10px; margin-bottom: 10px; }
#content h2 { line-height: 30px; }

/*Fixing settings*/
.settings .input_field > ul > li:nth-child(15) > label:first-child, .settings .input_field > ul > li:nth-child(10) > label:first-child, .settings .input_field > ul > li:nth-child(11) > label:first-child, .settings .input_field > ul > li:nth-child(12) > label:first-child, .settings .input_field > ul > li:nth-child(13) > label:first-child, .settings .input_field > ul > li:nth-child(14) > label:first-child {
	display: none;
}

.settings .input_field > ul > li:nth-child(12) {
	margin-bottom: 8px;
}

.settings .input_field > ul > li:nth-child(13) > span.form_help, .settings .input_field > ul > li:nth-child(14) > span.form_help, .settings .input_field > ul > li:nth-child(15) > span.form_help { padding: 0px; }

.settings .input_field > ul > li:nth-child(13) > input, .settings .input_field > ul > li:nth-child(14) > input, .settings .input_field > ul > li:nth-child(15) > input { float: left; margin-top: 0px; }

.settings .input_field > ul > li > input[type=text], .settings .input_field > ul > li > textarea {
	display: inline-block;
	margin: 0px;
	width: 350px;
}
@media screen and (max-width: 740px) {
.settings .input_field > ul > li > input[type=text], .settings .input_field > ul > li > textarea {
	width: 96%;
}
.settings .input_field > ul > li > span.form_help { padding: 0px; }
}

.settings .input_field > ul > li > textarea {
	margin-bottom: 10px;
}

body.admin_dash #content, #content {
	max-width: 765px;
	width: calc(100% - 242px);
	float: right;
	min-height: 0px;
	margin: 35px 20px 0px 0px !important;
	padding: 20px;
	display: inline;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
}

#account_stats > .clear > div {
	line-height: 24px;
}

form.search_sources .small_field { width: auto; }


/*Activity*/
#account_stats {
	border: none !important;
}
#content #dashboard #account_stats #videos_pending, #content #dashboard #account_stats #comments_pending, #content #dashboard #account_stats #videos_week {
	border: none;
	display: inline-block;
	float: none;
	width: 26.5%;
	padding: 15px;
}
#dashboard #account_stats #comments_pending h2, #dashboard #account_stats #videos_pending h2, #dashboard #account_stats #videos_week h2, #dashboard #account_stats #comments_pending h3, #dashboard #account_stats #videos_pending h3, #dashboard #account_stats #videos_week h3 {
	float: left !important;
	text-align: left !important;
	margin-bottom: 5px !important;
}
#dashboard #account_stats #comments_pending h2, #dashboard #account_stats #videos_pending h2, #dashboard #account_stats #videos_week h2 {
	font-size: 20px !important;
}
#dashboard #account_stats #videos_pending #btn_comment_moderate, #dashboard #account_stats #comments_pending #btn_comment_moderate, #dashboard #account_stats #videos_week #btn_comment_moderate {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/footer_bg1.jpg) repeat;
	padding: 0px 4px;
	box-shadow: none;
	border: 0px;
	border-radius: 5px;
	margin: 20px 0px 0px 0px;
	line-height: 35px;
	text-shadow: none;
	text-indent: 0px !important;
	text-align: center;
	color: #FAF6ED;
	font-size: 14px;
}
#dashboard #account_stats #videos_pending #btn_comment_moderate:hover, #dashboard #account_stats #comments_pending #btn_comment_moderate:hover, #dashboard #account_stats #videos_week #btn_comment_moderate:hover {
	color: #5C86A0;
}

/*Navigation crud*/
.admin_nav_btn {
	display: none;
	text-decoration: none;
	color: #EEEEEE;
	font-size: 40px;
	font-family: Georgia;
}
body.admin_dash ul#new_admin_nav, #new_admin_nav, ul#new_admin_nav {
	width: 135px;
	height: 100%;
	margin: 20px !important;
	border: none;
	float: left;
	display: inline;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
}
ul#new_admin_nav li a {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	opacity: 1;
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	border: none;
	text-align: center;
}


/*Hovering over a navigation choice*/
ul#new_admin_nav li a:hover {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
	text-decoration: none;
}

/*Active navigation choice*/
body#tier.account ul#new_admin_nav li#admin_account a:active, body#admin.admin_dash ul#new_admin_nav li#admin_dash a, body#admin.incomingvids ul#new_admin_nav li#admin_videos a, body#admin.settings ul#new_admin_nav li#admin_settings a, body#admin.user_admin ul#new_admin_nav li#admin_users a, body#admin.comments ul#new_admin_nav li#admin_comments a, body#user_profile ul#new_admin_nav li#admin_profile a, body#goodies ul#new_admin_nav li#admin_goodies a, ul#new_admin_nav li.active a {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
	border: none;
	-webkit-box-shadow: none;
	z-index: 0;
}

#get_started {
	display: none;
}

#admin.admin_dash #content, #admin.user_admin #content, #admin.comments #content {
	margin-top: 20px !important;
}

/*Videos for Review Sprucing Up... SO MANY !important TAGS ;_;*/
.incomingvids #admin_table {
	height: 912px;
	direction: rtl;
	text-align: left;
}
.incomingvids #labels, .incomingvids #admin_videolisting_row .video.selected {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
	border: none;
}
.incomingvids #admin_videolisting_row .video.unselected {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	border: none;
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
}
.incomingvids #admin_videolisting_row .video.unselected:hover {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
}
.incomingvids #admin_leftpane, .incomingvids #admin_videolisting_row {
	max-width: 430px !important;
	min-width: 0px !important;
	height: 100% !important;
	background: none;
	border: 0px;
}
.incomingvids #admin_rightpane {
	position: relative !important;
	top: 0px !important;
	left: -20px !important;
	width: 275px !important;
	min-width: 0px;
	background: none;
	overflow: hidden;
	word-wrap: break-word; /*Fixes really long urls from overflowing*/
	right: 0px !important;
	border: 0px;
}
#admin_rightpane .preview_inner {
	padding: 10px 15px;
}
.incomingvids .video.hoverable > a.thumbnail {
	width: 160px !important;
	height: 120px !important;
	background-size: 100% 100% !important;
}
#admin_rightpane .description {
	max-height: 200px;
	width: 100%;
	overflow: hidden;
	white-space: pre-line;
}
#admin_rightpane h4, #admin_rightpane h3, #admin_rightpane ul.meta_listing li h3 {
	margin-top: 5px;
}
#admin_rightpane ul.meta_listing li .floatleft .url {
	width: 100%;
	overflow: hidden;
	white-space: pre-line;
}
.incomingvids #admin_videolisting_row .video.hoverable > p.submitted {
	margin: 0px !important;
}
.incomingvids #video_wrapper > iframe {
	width: 100% !important;
	height: 200px !important;
}
#admin_rightpane .preview_inner { padding: 0px; }
#admin_videolisting_row .approve_reject a.feature, #admin_videolisting_row .approve_reject a.approve, #admin_videolisting_row .approve_reject a { height: 40px; width: 160px; padding: 0px; border: 0px; line-height: 40px; }
#admin_videolisting_row .approve_reject a.feature { background: #631919; }
#admin_videolisting_row .approve_reject a.approve { background: #0E3A3C; }
#admin_videolisting_row .approve_reject a.reject { background: #124F16; }
#admin_rightpane h2.preview_heading { display: none; }
#admin_rightpane ul.meta_listing li {
	display: block;
}
/*Fixing the pre-tablet mode version of the ridiculous video listing*/
@media screen and (max-width: 960px) {
.incomingvids #admin_leftpane {
	width: 61% !important;
}
.incomingvids #admin_rightpane {
	width: 38.3% !important;
	right: 0px !important;
}
#admin_rightpane ul.meta_listing li.item { max-height: 140px; overflow: hidden; }
}

/*All of the tabs in the admin submenus*/
#admin_subnav {
	z-index: 0;
	margin-top: -25px;
}
#admin_subnav ul {
	white-space: nowrap;
}
#admin_subnav li {
	display: inline-block;
	float: none;
	margin: 0px 0px 0px 5px;
}
#admin_subnav li a {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_body1.jpg) repeat;
	border: none;
	color: #444444;
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
}
#admin_subnav li a span {
	border: 0px;
	padding: 0px 9px;
}
/*Active one*/
body#tier.settings a.tier, #admin.flatpages a.flatpages, #admin.bulkedit a.bulkedit, #admin.category_admin a.categories, #admin.themes a.themes, #admin.settings a.settings, #admin.widget_settings a.widget_settings, #admin.searches a.watched, #admin.incomingvids #admin_subnav a.sub, #admin.managesources a.watched, #user_profile.user_profile #admin_subnav a.profile, #user_profile.notifications a.notifications, #goodies.widgetcreater a.widget, #goodies.bookmarklet a.bookmarklet, #goodies.playlists a.playlists {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
	border: none;
}
#admin_subnav li a:hover {
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/bg_container1.jpg) repeat;
	border: none;
}

/*All of the buttons!*/
.plain_button span { color: #EEEEEE; }
.add, .add:hover, .reject_button, .reject_button:hover, .approve_button, .approve_button:hover, .plain_button, .plain_button:hover {
	background: none;
	color: #EEEEEE;
	padding: 0px;
}

.incomingvids .reject_button, .incomingvids .approve_button, .incomingvids .plain_button {
	margin: 10px 10px 10px 0px;
}

.add span, .add span:hover, .add:hover span, .approve_button span, .approve_button span:hover, .approve_button:hover span, .reject_button span, .reject_button span:hover, .reject_button:hover span, .plain_button span, .plain_button span:hover, .plain_button:hover span {
	text-shadow: none;
	padding: 8px 22px;
	border-radius: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.add span, .add span:hover, .add:hover span {
	background: #631919;
}
.add span:hover, .approve_button span:hover, .reject_button span:hover, .plain_button span:hover {
	color: #5c86a0;
}

.approve_button span, .approve_button span:hover, .approve_button:hover span {
	background: #0E3A3C;
}

.reject_button span, .reject_button span:hover, .reject_button:hover span {
	background: #124F16;
}

.plain_button span, .plain_button span:hover, .plain_button:hover span {
	background: #643B17;
}
.approve_button {
	margin: 10px 0px 0px 0px;
}
.user_profile .approve_button, .user_profile .plain_button, .notifications .approve_button { margin: 15px 10px 0px 0px; }
.edit_feed .approve_button {
	margin-right: 10px;
}

/*Fixing the paginator*/
.pag { padding: 0px 0px 15px 0px; }
.pag li a {
	background: #641917;
	border: none;
	border-radius: 0px;
	color: #EEEEEE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 5px 10px;
}
.pag li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pag li:last-child a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.pag li a:hover {
	background: #744947;
	border: none;
	color: #EEEEEE;
}
.pag li.selected a {
	border: none;
}
.pag li.selected a:hover {
	background: #dedede;
	color: #ccc;
}

/*Fixing the dropdowns and stuff*/
.bulkedit_controls { padding: 0px; width: auto; }
#admin.bulkedit .search_sources select.behave, form.search_sources select.behave, .search_sources select.behave, form.search_sources select[name=category] { margin: 0px 10px 5px 0px; }
form.search_sources .small_field { margin: 0px; }
#labels .only_show { padding: 0px !important; }
.only_show * { height: auto; line-height: 22px; }

/*Fixing the overlays*/
.simple_overlay {
	left: 50% !important;
	margin-left: -320px !important;
}
.editable .simple_overlay h2 {
	line-height: normal !important;
	margin-top: 0px !important;
}
.editable .simple_overlay .input_field .done, .editable .simple_overlay .input_field .done:hover {
	background: none;
	padding: 0px;
}
.editable .simple_overlay .input_field .done span, .editable .simple_overlay .input_field .done span:hover {
	background: #0E3A3C;
	padding: 8px 22px;
	border-radius: 5px;
	text-shadow: none;
	color: #EEEEEE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.editable .simple_overlay .input_field .done span:hover { color: #5c86a0 }

.simple_overlay .input_field ul li label:first-child, .simple_overlay .input_field ul li label {
	width: auto;
	margin-right: 15px;
}
.simple_overlay .input_field ul li input[type=text], .simple_overlay .input_field ul li textarea {
	width: 96%;
}
.incomingvids .editable .simple_overlay .input_field {
	width: 100%;
}
.incomingvids .simple_overlay .input_field ul li input[type=text], .incomingvids .simple_overlay .input_field ul li textarea {
	width: 96%;
	direction: ltr;
}
.incomingvids .simple_overlay form[action="/admin/edit_attributes/video/105/categories/"] .scrollable input[name="categories"] {
	width: 20px;
}
.simple_overlay span.form_help {
	padding: 0px;
}
.simple_overlay .input_field ul li.scrollable.right, .simple_overlay .input_field ul li.scrollable {
	border: none;
	width: 45% !important;
	display: block;
}

/*THIS IS RIDICULOUS. TEXT DIRECTION RIGHT TO LEFT WITH ALL OF THE OVERLAP. Z-INDEX WUT. MIRO WHYYYYYY*/
.simple_overlay .thumbnail_changer {
	width: auto !important;
	padding-top: 10px !important;
}
.simple_overlay .thumbnail_changer .thumbnail {
	float: none !important;
	margin: 0px auto;
}
.simple_overlay .thumbnail_changer .form {
	width: 100% !important;
	padding: 0px !important;
	margin: 10px 0px 0px !important;
}
.simple_overlay .thumbnail_changer .form p {
	height: auto !important;
	width: 100% !important;
	margin: 0px !important;
}
.simple_overlay .thumbnail_changer .form p label {
	width: auto !important;
	margin-right: 10px;
	line-height: normal !important;
}
.simple_overlay .thumbnail_changer .form p label:first-child {
	width: 100% !important;
}
.simple_overlay .thumbnail_changer .form * {
	direction: ltr;
	display: block !important;
}
.simple_overlay .thumbnail_changer .form  p:first-child a {
	display: inline-block;
}
.simple_overlay .thumbnail_changer .form  p:first-child input:nth-child(3), .simple_overlay .thumbnail_changer .form  p:first-child label:nth-child(4) {
	display: inline !important;
	float: none;
}
.simple_overlay .thumbnail_changer .form p:nth-child(2) input {
	width: 98.5%;
}
.simple_overlay .thumbnail_changer .form  p:first-child a, .simple_overlay .thumbnail_changer .form  p:first-child input:nth-child(3), .simple_overlay .thumbnail_changer .form  p:first-child #id_thumbnail {
	margin-bottom: 10px;
}



/*Footer*/
#admin_footer {
	width: 100%;
	max-width: 960px;
	background: url(http://www.swarthmore.edu/PreBuilt/styles/images/footer_bg1.jpg) repeat;
	margin: 10px auto;
	padding: 10px 0px;
}

#admin_footer > .clear {
	width: 334px;
	text-align: center;
	margin: 0px auto;
}

#admin_footer ul li { display: inline; margin: 2px 7px; }
#admin_footer ul li:last-child { display: none; }

#admin_footer > .clear > li > a, #footer_help {
	font-family: 'Helvetica Neue', Georgia;
	font-size: 13px;
	font-weight: normal;
	color: #EEEEEE;
	-webkit-box-shadow: none;
	text-shadow: none;
}

#admin_footer > .clear > li > a:hover {
	color: #5C86A0;
}

#footer_help {
	display: none;
}



/*Mobile mode engaged*/
@media screen and (max-width: 740px) {
#header {
	width: 100%;
	padding: 0px;
}

#header * { z-index: 1; }

#wrapper, #admin.admin_dash #content, #admin.user_admin #content, #admin.comments #content, #content {
	margin: 0px !important;
	min-height: 348px;
	width: 100%;
	position: relative;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;
}

#admin.admin_dash #content, #content {
	/*Makes sure that padding doesn't affect the dimensions*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	width: 100%;
}

.admin_nav_btn {
	display: block;
	position: absolute;
	left: 20px;
	cursor: pointer;
	z-index: 1;
}

#user_panel { display: inline; }

#admin_off_nav {
	height: 348px;
	width: 175px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: -175px;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;
	padding-top: 129px;
}

#admin_footer {
	margin: 0px;
	width: 100%;
}

#content #dashboard #account_stats #videos_pending, #content #dashboard #account_stats #comments_pending, #content #dashboard #account_stats #videos_week {
	width: 40%;
}

#admin_subnav {
	float:left;
	left: 0px;
	top: 0px;
	margin: 0px;
	width: 100%;
}

#admin_subnav li {
	margin: 0px;
	display: inline;
}

#admin_subnav li a {
	background: #641917;
	margin: 0px 5px 5px 0px;
	padding: 0px 7px;
	-webkit-border-radius: 0px;
}
.incomingvids #admin_subnav li a { padding: 0px; }

#admin_subnav li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#admin_subnav li:last-child a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#admin_subnav li a span {
	color: #EEEEEE;
	font-weight: normal;
	text-shadow: none;
}
/*Active one*/
body#tier.settings a.tier, #admin.flatpages a.flatpages, #admin.bulkedit a.bulkedit, #admin.category_admin a.categories, #admin.themes a.themes, #admin.settings a.settings, #admin.widget_settings a.widget_settings, #admin.searches a.watched, #admin.incomingvids #admin_subnav a.sub, #admin.managesources a.watched, #user_profile.user_profile #admin_subnav a.profile, #user_profile.notifications a.notifications, #goodies.widgetcreater a.widget, #goodies.bookmarklet a.bookmarklet, #goodies.playlists a.playlists {
	background: url(localtv/front/images/classy_fabric.png?1345840025) repeat;
}
#admin_subnav li a:hover {
	background: #744947;
}

.simple_overlay {
	right: 6.75% !important;
	left: 6.75% !important;
	top: -10px !important;
	width: auto !important;
	margin: 0px !important;
}
.incomingvids .simple_overlay {
	top: 83.3px !important;
}

.simple_overlay form.input_field {
	width: 100%;
}
.editable .simple_overlay .input_field ul li input, .editable .simple_overlay .input_field ul li textarea {
	width: 96%;
}

}